/**** Global Styles *****/



:root {
    --header-font: 'Nanum Gothic', sans-serif;
    --primary-font: 'DM Serif Display', serif;

    /*Colors*/
    --primary-color: #FC001F;
    --secondary-color: #fff;
    --tertiary-color: #000;

    
}
  



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


.title {
    font-size: 7.438rem;
    font-family: var(--header-font);
    line-height: 149px;
    text-transform: uppercase;
    letter-spacing: 30px;
    color: var(--secondary-color);
    font-weight: 400;
    font-style: normal;

}



/**** End Global Styles *****/



/*** Header Section Container ***/
.header--section__container {  
    position: relative;
 }


.header-section__video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;

}

/*** Navigation ***/

.nav--container  { 
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.nav--container a img { 
    width: 274px;
    height: 50px;
}



/*** Main Header Section *****/

.header--section__main__container {
    padding: 1rem 2rem;
}


.header--section__main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


