/**** Global Styles *****/


/* Fonts */
@import url("https://use.typekit.net/hhk8bpu.css");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


:root {
    --header-font: "trumpgothicpro", sans-serif;
    --primary-font: 'DM Sans', sans-serif;

    /*Colors*/
    --primary-color: #FC001F;
    --secondary-color: #fff;
    --tertiary-color: #000;

    
}
  



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


p {
    font-size: 1rem;
    font-family: var(--primary-font);
    font-weight: 300;
    line-height: 1.5rem;
}


/*** Utility Classes *****/

.title {
    font-size: 3.375rem;
    font-family: var(--header-font);
    line-height: 67.5px;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--secondary-color);
    font-weight: 400;
    font-style: bold;

}

.subtitle {
    font-size: 1rem;
    font-family: var(--primary-font);
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--primary-color);
    font-weight: 300;
    font-style: normal;

}


/**** End Global Styles *****/







/*** Header Section Container ***/
.header--section__container {  
    position: relative;
 }


.header-section__video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;

}

/*** Navigation ***/

.nav--container  { 
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.nav--container a img { 
    width: 274px;
    height: 50px;
}



/*** Main Header Section *****/

.header--section__main__container {
    padding: 1rem 2rem;
}


.header--section__main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    padding-bottom: 170px;
    text-align: center;
}


.header--section__main-text h1 {
    font-size: 7.438rem;
    font-family: var(--header-font);
    line-height: 149px;
    text-transform: uppercase;
    letter-spacing: 11.25px;
    color: var(--secondary-color);
    font-weight: 400;
    font-style: bold;
}



.reveal-text-animation {
    position: relative;
    width: fit-content;
}

/*Red block animation */

.reveal-text-animation::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    width: 0%;
    height: 100%;
    background-color: #FC001F;
    animation: reveal-text-animation 1.2s ease-out 1s forwards;
}


.reveal-text-animation__delay::after {
    animation-delay: 1.5s;

}


.header--section__main-text .main-title span {
    display: block;
    opacity: 0;
    animation: fade 0.01s ease-out 2s forwards;
}



.header-section__sub-text {
    animation: sub-text-fadeIn 1s 2.5s forwards;
    opacity: 0;
}


.header--section__main-text .header-section__sub-text h2 {
    font-size: 1.25rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 0.375rem;
    font-weight: 300;
    margin-bottom: .5rem;
}


.header--section__main-cta {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 1rem;
    letter-spacing: 0.313rem;
    position: absolute;
    right: 0;
    transform: translateY(-35%);
    padding: 2.5rem 4rem;
    gap: 1rem;
    text-decoration: none;

}


.header--section__main-cta .header--section__main-cta__line {
    border-left: 2px solid var(--secondary-color);
    height: 27px;
}

.header--section__main-cta svg {
    height: 25px;
    width: 25px;
}


.header--section__main-triangle {
    width: 0; 
    height: 0; 
    border-bottom: 200px solid transparent;
    border-left: 200px solid #fff;
    transform: rotate(135deg) translateY(50%);
    position: absolute;
    left: 0;
    margin-left: -36px;
}



/*** End Main Container ***/




.community-section__main-container {
    padding: 8rem 0rem 5rem;  
}

.community-section__main-container .community-section__title.slide-up-in {
    padding: 0 2rem;
    animation:  slideUpIn 1.25s linear;
}


.community-section__main-container .community-section__title .subtitle {
    color: var(--tertiary-color);
}

.community-section__main-container .community-section__title .title {
    color: var(--tertiary-color);
}

.community-section__steps {
    padding-top: 5rem;
}


.community-section__steps .community-section__steps-line {
    border: solid .5px #000;
    width: 100%;
}





/*** Key Frames *****/

/** MAIN HEADER TEXT REVEAL ANIMATION */

@keyframes reveal-text-animation {
    0% {
     right: 100%;
     left: 0;
     width: 0%;
    }
    50% {
     right: 0;
     left: 0;
     width: 100%;
    }
    100% {
     right: 0;
     left: 100%;
     width: 0%;
    }
   }


   @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
   }


   @keyframes sub-text-fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
   }



   /* A COMMUNITY-SERVING NIL COLLECTIVE animation */


   @keyframes slideUpIn {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
   }

