/**** Global Styles *****/


/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;700&family=DM+Serif+Display&display=swap');



:root {
    --header-font: 'Nanum Gothic', sans-serif;
    --primary-font: 'DM Serif Display', serif;

    /*Colors*/
    --primary-color: #FC001F;
    --secondary-color: #fff;
    --tertiary-color: #000;

    
}
  



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


.title {
    font-size: 7.438rem;
    font-family: var(--header-font);
    line-height: 149px;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: var(--secondary-color);
    font-weight: 400;
    font-style: normal;

}



/**** End Global Styles *****/







/*** Header Section Container ***/
.header--section__container {  
    position: relative;
    padding-bottom:
 }


.header-section__video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;

}

/*** Navigation ***/

.nav--container  { 
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.nav--container a img { 
    width: 274px;
    height: 50px;
}



/*** Main Header Section *****/

.header--section__main__container {
    padding: 1rem 2rem;
}


.header--section__main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    padding-bottom: 170px;
    text-align: center;
}




.reveal-text-animation {
    position: relative;
    width: fit-content;
}

/*Red block animation */

.reveal-text-animation::after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 100%;
    width: 0%;
    height: 100%;
    background-color: #FC001F;
    animation: reveal-text-animation 1.2s ease-out 1s forwards;
}


.reveal-text-animation__delay::after {
    animation-delay: 1.5s;

}


.header--section__main-text .title span {
    display: block;
    opacity: 0;
    animation: fade 0.01s ease-out 2s forwards;
}



.header-section__sub-text {
    animation: sub-text-fadeIn 1s 2.5s forwards;
    opacity: 0;
}


.header--section__main-text .header-section__sub-text h2 {
    font-size: 1.25rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    letter-spacing: 0.375rem;
    font-weight: 300;
}


.header--section__main-text .header-section__sub-text p {
    font-size: 1rem;
    font-family: var(--primary-font);
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.5rem;
}



.header--section__main-cta {
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 1rem;
    letter-spacing: 0.313rem;
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    padding: 2.5rem 4rem;
    gap: 1rem;

}


.header--section__main-cta .header--section__main-cta__line {
    border-left: 2px solid var(--secondary-color);
    height: 27px;
}

.header--section__main-cta svg {
    height: 25px;
    width: 25px;
}



/*** End Main Container ***/




.community-section__main-container {
    margin-top: 120px;
}



/*** Key Frames *****/

/** indent w/ animation is for */

@keyframes reveal-text-animation {
    0% {
     right: 100%;
     left: 0;
     width: 0%;
    }
    50% {
     right: 0;
     left: 0;
     width: 100%;
    }
    100% {
     right: 0;
     left: 100%;
     width: 0%;
    }
   }


   @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
   }



   /** indent w/ animation is for */

   @keyframes sub-text-fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
   }